.outlineButton {
    border: 2px;
    border-style: solid;
    padding: 8px;
    border-radius: 4;
    border-color: var(--nav-buttons);
}

.outlineButton {
    color: var(--nav-buttons);
    font-weight: bold;
}

.outlineButton:hover {
    background-color: var(--nav-buttons);
    color: var(--light-background);
}
