.project {
    padding: 20px;
}

.project h1 {
    text-align: center;
    font-size: max(9vw, 2.8rem);
}

.project figure {
    margin: 0;
}

.project figcaption {
    font-style: italic;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 0.78rem;
}
